body {
  background-color: antiquewhite;
  font-family: Arial, Helvetica, sans-serif;
  @media screen {
    
  }
}
header {
  background-color: #1f2c3a;
  padding: 0.3rem;
  box-shadow: 0.6rem 0.6rem 1.6rem black;
}
.logo {
  text-align: center;
  align-content: center;
  justify-content: center;
  background-color: #1f2c3a;
  display: flex;
}
.logo img {
  width: 5rem;
  height: 5rem;
  padding: 0.5rem;
}
h1 {
  font-size: 1.25rem;
  color: white;
  text-shadow: 0.06rem 0.06rem 0.6rem black;
  text-align: center;
}
h2 {
  font-size: 0.9rem;
  color: #f3aa4e;
  text-shadow: 0.06rem 0.06rem 0.6rem black;
  text-align: center;
}
#userikon {
  width: 1.9rem;
  height: 1.9rem;
  margin-left: 0.3rem;
  border-radius: 50%;
  background-color: antiquewhite;
}
#cart {
  width: 1.9rem;
  height: 1.9rem;
  margin-right: 0.3rem;
}
.user-cart {
  display: flex;
  justify-content: space-between;
}
.navbar {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #1f2c3a;
  box-shadow:  0.6rem 0.6rem 1.6rem black;
  @media phone (max-width:768px) {
    width: 40rem; 
  }
}
.navbar a {
  color: white;
  font-size: 0.9rem;
  text-decoration: none;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  @media phone (max-width: 768px) {
    font-size: 0.5rem;
  }
}
.navbar a:hover {
  background-color: #f3aa4e;
}
.gamingplatform {
  display: flex;
  justify-content: center;
  column-gap: 3rem;
  padding: 0.6rem;
}
.gamingplatform img {
  width: 1.9rem;
  height: 1.9rem;
}
.gamecatogory {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 6rem;
}
.gamecatogory a {
  padding-top: 1.9rem;
  padding-bottom: 0.3rem;
  text-decoration: none;
  font-size: 0.8rem;
  color: black;
}
hr {
  width: 60rem;
  margin: auto;
}
.footer {
  font-size: 0.8rem;
  color: white;
  margin-top: 1.3rem;
  background-color: #1f2c3a;
  display: flex;
}
.footerbox1 {
  padding: 1rem;
}
.footerbox2 {
  padding: 1rem;
}

/* Home */
.container1 {
  display: flex;
  flex-direction: column;
  @media phone {
    
  }
}
.headimg {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  margin-top: 0.6rem;
}
.headimg a {
  text-decoration: none;
  color: black;
}
.headimg img {
  width: 25rem;
  height: 13rem;
  box-shadow: 0.6rem 0.6rem 1.6rem black;
  margin: 0.6rem;
  @media phone (max-width: 768px) {
    width: 15rem;
    height: 8rem;
  }
}
.content a {
  display: block;
  color: black;
  font-size: x-small;
  padding: 0.3rem;
  margin-top: 0.6rem;
  text-decoration: none;
}
img {
  width: 16rem;
  height: 9rem;
}
.gameitem {
  display: flex;
  flex-direction: column;
  margin-top: 1.3rem;
  padding: 0.5rem;
  box-shadow: 0.6rem 0.6rem 1.6rem black;
}
.container2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 2rem;
  margin-top: 4rem;
  margin-bottom: 9rem;
}
.container3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  margin-top: 4rem;
  margin-bottom: 9rem;
}
.name-price {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 0.3rem;
}
a button {
  background-color: #f3aa4e;
  width: 3rem;
  height: 2rem;
  border-radius: 0.3rem;
  font-size: x-small;
}
.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 3rem;
}

/*Contact*/
h5 {
  text-align: center;
}
.contact {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 0.6rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.contactbox1 {
  display: flex;
  flex-direction: column;
  margin-top: 0.3rem;
  width: 13rem;
  height: 13rem;
  border: 0.06rem solid;
  padding: 0.6rem;
  font-size: 1rem;
}
.contactbox2 {
  display: flex;
  flex-direction: column;
  margin-top: 0.3rem;
  row-gap: 0.6rem;
  font-size: 0.6rem;
  width: 19rem;
  height: 25rem;
  background-color: antiquewhite;
  line-height: 1.5;
  border: 0.06rem solid;
  padding: 0.6rem;
}
.contactbox2 input {
  width: 13rem;
  height: 1.3rem;
  border-radius: 0.3rem;
}
#sendbutton {
  background-color: #f3aa4e;
  width: 5rem;
  height: 2rem;
}

/* spiderman gamepage */
.spider-man-content {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  justify-content: space-evenly;
  margin-top: 5rem;
}
.about-the-game {
  display: flex;
  flex-direction: column;
  width: 25rem;
}
.spider-man-img {
  display: flex;
  flex-direction: column;
  row-gap: 0.6rem;
}
#add-to-cart {
  width: 6rem;
  height: 3rem;
  border-radius: 5%;
}
/* checkoutpage */

.checkout-container1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.checkout-item {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  gap: 2rem;
  margin-top: 2rem;
  padding: 1.3rem;
  border: 0.06rem solid black;
  width: 35rem;
  
}
.checkout-item a {
  text-decoration: none;
}
.checkout-container2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 2rem;
  
}
.paymentinfo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 15rem;
  padding: 0.3rem;
  margin-top: 2rem;
  row-gap: 0.3rem;
  border: 1px solid black;
}
.payment-card-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 2rem;
  padding: 0.3rem;
  row-gap: 0.3rem;
  border: 1px solid black;
}
.payment-card-info input {
  width: 4rem;
}
#cardnumber {
  width: 9rem;
}
.checkout-summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 12rem;
  padding: 0.4rem;
  row-gap: 1.5rem;
  border: 1px solid black;
  height: 14rem;
  margin-top: 2rem;
}
.checkout-summary img {
  width: 12rem;
  height: 7rem;
}
.checkout-summary a {
  text-decoration: none;
}
.total-price {
  display: flex;
  justify-content: space-between;
}
#submit {
  position: relative;
  left: 39rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  background-color: #f3aa4e;
}