body {
  background-color: antiquewhite;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  background-color: #1f2c3a;
  padding: 5px;
  box-shadow: 10px 10px 25px black;
}
.logo {
  text-align: center;
  align-content: center;
  justify-content: center;
  background-color: #1f2c3a;
  display: flex;
}
.logo img {
  width: 80px;
  height: 80px;
  padding: 8px;
}
h1 {
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 10px black;
  text-align: center;
}
h2 {
  font-size: 15px;
  color: #f3aa4e;
  text-shadow: 1px 1px 10px black;
  text-align: center;
}
#userikon {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  border-radius: 50%;
  background-color: antiquewhite;
}
#cart {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
.user-cart {
  display: flex;
  justify-content: space-between;
}
.navbar {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  background-color: #1f2c3a;
  box-shadow: 10px 10px 25px black;
}
.navbar a {
  color: white;
  font-size: 15px;
  text-decoration: none;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.navbar a:hover {
  background-color: #f3aa4e;
}
.gamingplatform {
  display: flex;
  justify-content: center;
  column-gap: 40px;
  padding: 10px;
}
.gamingplatform img {
  width: 30px;
  height: 30px;
}
.gamecatogory {
  display: flex;
  justify-content: center;
  column-gap: 100px;
}
.gamecatogory a {
  padding-top: 30px;
  padding-bottom: 5px;
  text-decoration: none;
  font-size: 12px;
  color: black;
}
hr {
  width: 1000px;
  margin: auto;
}
.footer {
  font-size: 12px;
  color: white;
  margin-top: 20px;
  background-color: #1f2c3a;
  display: flex;
}
.footerbox1 {
  padding: 15px;
}
.footerbox2 {
  padding: 15px;
}

/* Home */
.container1 {
  display: flex;
  flex-direction: column;
}
.headimg {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.headimg a {
  text-decoration: none;
  color: black;
}
.headimg img {
  width: 400px;
  height: 200px;
  box-shadow: 10px 10px 25px black;
  margin: 10px;
}
.content a {
  display: block;
  color: black;
  font-size: x-small;
  padding: 5px;
  margin-top: 10px;
  text-decoration: none;
}
img {
  width: 250px;
  height: 150px;
}
.gameitem {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 8px;
  box-shadow: 10px 10px 25px black;
}
.container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  margin-top: 60px;
  margin-bottom: 150px;
}
.container3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  margin-top: 60px;
  margin-bottom: 150px;
}
.name-price {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 5px;
}
a button {
  background-color: #f3aa4e;
  width: 40px;
  height: 30px;
  border-radius: 5px;
  font-size: x-small;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 40px;
}

/*Contact*/
h5 {
  text-align: center;
}
.contact {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  margin-top: 30px;
  margin-bottom: 50px;
}
.contactbox1 {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  width: 200px;
  height: 200px;
  border: 1px solid;
  padding: 10px;
  font-size: 15px;
}
.contactbox2 {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  row-gap: 10px;
  font-size: 10px;
  width: 300px;
  height: 400px;
  background-color: antiquewhite;
  line-height: 1.5;
  border: 1px solid;
  padding: 10px;
}
.contactbox2 input {
  width: 210px;
  height: 20px;
  border-radius: 5px;
}
#sendbutton {
  background-color: #f3aa4e;
  width: 80px;
  height: 30px;
}

/* spiderman gamepage */
.spider-man-content {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  justify-content: space-evenly;
  margin-top: 80px;
}
.about-the-game {
  display: flex;
  flex-direction: column;
  width: 400px;
}
.spider-man-img {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
#add-to-cart {
  width: 100px;
  height: 40px;
  border-radius: 5px;
}
